
/* Site-wide structure */

html {
	font-size: 100%;
}

* {
	box-sizing: border-box;
}

/* Links */

a {
	display: block;
	list-style: none;
	color: inherit;
}

p a {
	display: inline-block;
	list-style: underline;
	color: blue;
}

/* Images */

picture {
	display: block;
}

picture img {
	display: block;
	width: 100%;
	height: auto;
}
