
/* Site-wide structure */

@import "meyer-reset.css";
@import "setup.css";

body {
	display: flex;
	flex-direction: column;
	background-color: ghostwhite; 
}

main {
	display: flex;
	justify-content: center; 
}

.page-section {
	display: flex;
	flex-direction: column;
}

.inner-column {
	display: block;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

logo-module {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 12vh 0 2vh;
/*	border: 1px solid red;*/
}

full-name {
	margin-top: 3.5vh;
}

main + footer {
	margin-top: 1vh;
}

/* Headings & text */

h1 {
 	display: flex;
	justify-content: center;
 	font-family: helvetica, sans-serif;
 	color: #041424;
	font-size: 3rem;
	line-height: 1.2;
	letter-spacing: 0.03rem;
	font-weight: 700;
	text-align: center;
	text-transform: capitalize;
	padding: 10px;
}

p {
	font-family: helvetica, sans-serif;
	font-size: 1rem;
	text-align: center;
}

/* Links */

a {
	font-family: helvetica, sans-serif;
	font-size: 1.125rem;
	text-decoration: none;
	color: ghostwhite;
	background-color: #041424;
	padding: 15px 20px;
	border-radius: 5px;
	text-transform: uppercase;
}

a:active {
	background-color: #507282;
}

footer nav {
	display: flex;
	flex-direction: column;
	justify-content: flex-start; /* default = top */
	align-items: center; /* default = left */
}

a + a {
	margin-top: 1rem;
}

/* SVG */

.mv-logo {
/*	max-width: 150px;*/

}
























