
/* SITE-WIDE STRUCTURE */

@import "meyer-reset.css";
@import "setup.css";

body {
	background-color: white; 
}

main {
	padding: 2vh;
}

.inner-column {
	display: block;
	position: relative;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.logo, .title, .project-name, .size, .version, .drawn, 
.page, .truths-title, .truths-nerd, .truths-cats, 
.truths-digifab, .truths-svg, .truths-web, .substack {
	background-color: white;
}

/*  GRID LAYOUT */

.title-block {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	background-color: #041424; /* Black Pearl */
	padding: 1vw; /* allows grid edges to be colored by bg */
	gap: 1vw;
}

.title, .project-name, .size, .version, .drawn, 
.page, .truths-title {
	padding: 1vw;
}

/* 
grid-area: row start / column start / row end / column end; 
*/

/* AVOID ROWS UNTIL YOU HAVE TO USE THEM. ALLOW CONTENT 
TO DICTATE HOW THESE ROWS ORGANIZE THEMSELVES. */

.logo, .project-name, .title {
	grid-column: span 12; 
}

.logo {
	display: flex;
	justify-content: center;
	padding: 4vh;
/*	consider adding max-width as it scales*/
}

.size, .page {
	grid-column: span 4;
}

.version, .drawn {
	grid-column: span 8;
}

.gray-box {
	grid-column: span 12;
	grid-row: span 1;
	background-color: ghostwhite; /* maybe Alabaster? */
	padding: 30px;
}

.truths-title {
	grid-column: span 12;
	justify-content: center;
	padding: 1vh;
}

.truths-nerd, .truths-cats, .truths-digifab, 
.truths-svg, .truths-web {
	padding: 0.75vh;
}

.truths-nerd {
	grid-column: span 5;
}

.truths-cats {
	grid-column: span 7;
}

.truths-digifab {
	grid-column: span 6;
}

.truths-svg {
	grid-column: span 6;
}

.truths-web {
	grid-column: span 12;
}

.substack {
	grid-column: span 12;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10vh 0;
}

/* HEADINGS & TEXT */
h1 {
	font-family: lato, sans-serif;
	font-size: 1rem;
	font-weight: 700;
	color: #041424;
}

h2 {
	font-family: georgia, serif;
	font-size: 2rem;
	color: #041424;
}

.truths-title h1 {
	text-align: center;
	text-transform: uppercase;
}

.truths-nerd h1 {
	text-transform: none;
}

/* LINKS */
.substack a {
	font-family: lato;
	font-size: 2.25rem;
	text-transform: capitalize;
	text-decoration: none;
	color: white;
	background-color: #041424;
	padding: 5vw;
	border-radius: 10px;
}

/* SVGs */
.title-logo {
	width: 70%; 
	fill: #041424;
}

.arrows {
	display: flex;
	width: 4%;
	fill: none; 
	stroke: #041424;
	stroke-linecap: round;
 	stroke-linejoin: round; 
 	stroke-width: 1.25;
 	justify-content: center;
}

/* PICTURES */
.hand-project {
	max-width: 50vw;
	margin-left: 5vw;
	z-index: 1;
}

.hand-title {
	max-width: 65vw;
	margin-left: 2vw;
}

.hand-size {
	max-width: 12vw;
	margin: 1vh 0 0 6vw;
	justify-content: center;
}

.hand-version {
	max-width: 22vw;
	margin: 2vh 0 0 15vw;
}

.hand-initials {
	max-width: 40vw;
	margin-left: 3vw;
}

/* BREAKPOINTS */
/*@media (min-width: 768px) {
	body {
		background-color: blue;
	}
}

@media (min-width: 1200px) {
	body {
		background-color: red;
	}
}*/












