
/* LAYOUT */
print-drawing {
	display: flex;
	flex-direction: column;
/*	background-color: var(--white);*/
/*	border: var(--line-weight) solid var(--color);*/
	padding: 0;
	gap: 0;
}

.home, .goals,
.projects, .resume {
	background-color: var(--white);
}

.views {
/*	display: grid;*/
/*	grid-column: span 12;*/
	background-color: var(--white);
}

.welcome {
	padding: 10px;
}

/* IMAGES */

.hello-small, .goals-small, .projects-small, .about-small, .resume-small {
	padding: 3vw;
/*	set size*/
}

.hello-large, .goals-large, .about-large, .projects-large, .resume-large {
	display: none;  /*hidden or none; swap on larger screen sizes*/
}

/* PROJECTS */
projects-list  {
	display: flex;
	margin-top: 20px;
	gap: 20px;
	padding: 0 0 0 10px;
}

/* RESUME */
.resume { 
	padding: 10px;
 }

/* HEADINGS & TEXT */

.welcome p {
	font-family: lato, sans-serif;
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: 0.03em;
}

/* SVGs */

.arrows {
	display: flex;
	width: 4%;
	fill: none; 
	stroke: var(--color);
	stroke-linecap: round;
 	stroke-linejoin: round; 
 	stroke-width: 1.25;
 	justify-content: center;
}

/* BREAKPOINTS */
@media (min-width: 650px) {

	print-drawing {
/*		border: var(--line-weight) solid var(--color);*/
	}

	.views {
		grid-column: 1 / 3;
	}

	.content {
		grid-column: 1 / 3;
	}

	.hello-small, .goals-small, .projects-small, .about-small, .resume-small {
	display: none;
/*	set size*/
}

.hello-large, .goals-large, .about-large, .projects-large, .resume-large {
	display: block;
	padding: 30px;
}
}

@media (min-width: 1100px) {

	body {
		border: none;
	}

	main {
		/*display: flex;
		flex-direction: column;*/	
	}

	print-drawing {
		display: grid;
		height: 91vh;
		grid-template-columns: 50% 50%;
		grid-template-rows: 50px 1fr 1fr;
		border: var(--line-weight) solid var(--color);
	}

	.views {
		grid-column: 2 / 3; 
		grid-row: 2 / span 1;
	}

	.menu {
		grid-column: 1 / 2;
		grid-row: 1 / span 1;
	}

	.content {
		grid-column: 1 / 2;
		grid-row: 2 / span 2;
	}

	.hello {
		display: block;
	}


	/* PICTURES */

	.hello {
		padding: 2vh;
/*		max-width: 50vw;*/
/*		padding: 2vh;*/
	}

	.resume {
		overflow-y: scroll;
		height: 85.25vh;
		paddding-bottom: 100px;
	/*	border: 1px solid red;*/
	}
}














