
nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px;
	padding: 10px 5px;
	border-bottom: var(--line-weight) solid var(--color);
}

nav a {
	font-family: lato;
	font-size: 1.3rem;
	text-transform: capitalize;
	text-decoration: none;
	color: var(--white);
	background-color: var(--color);
	padding: 3px 6px;
	border-radius: 5px;
}

projects  {
	display: flex;
	margin-top: 20px;
	gap: 20px;
	padding: 0 0 0 10px;
}

.resume { 
	padding: 10px;
 }

/* LINKS */
.substack a, .email a, .github a, .menu a {
	font-family: lato;
	font-size: 1.6rem;
	text-transform: capitalize;
	text-decoration: none;
	color: var(--white);
	background-color: var(--color);
	padding: 7px;
	border-radius: 10px;
}

a:active {
		background-color: var(--highlight);
	}

/*  GRID LAYOUT */
print-drawing {
	display: flex;
	flex-direction: column;
/*	background-color: var(--white);*/
/*	border: var(--line-weight) solid var(--color);*/
	padding: 0;
	gap: 0;
}

.title-block {
	margin-top: 10px;
	gap: var(--line-weight);
	border-top: var(--line-weight) solid var(--color);
}

.logo, .title, .project-name, .size, .version, .drawn, 
.page, .truths-title, .truths-nerd, .truths-cats, 
.truths-digifab, .truths-svg, .truths-web, .substack,
.email, .whitespace, .github, .goals, .menu, .home, .goals,
.projects, .resume {
	background-color: var(--white);
}

.views {
/*	display: grid;*/
/*	grid-column: span 12;*/
	background-color: var(--white);
}

.welcome {
	padding: 10px;
}

/*GOALS, RESUME*/

.goals-list {
	padding: 0 5vw 2vh;
}

.hello-small, .goals-small, .projects-small, .about-small, .resume-small {
	padding: 3vw;
/*	set size*/
}

.hello-large, .goals-large, .about-large, .projects-large, .resume-large {
	display: none;  /*hidden or none; swap on larger screen sizes*/
}

.goals-list, .resume-list, h1 {
	font-size: 1.75rem;
	margin-top: 1em;
}

.goals-list ul, .resume-list ul {
	list-style: square inside;
}

.goals-list li, .resume-list li {
	font-family: georgia, serif;
	line-height: 1.5;
	font-size: 1.25rem;
	color: var(--color);
}

.goals-list h1 + ul, .resume-list h1 + ul {
	margin-top: 1em;
}

/*TITLE BLOCK*/
.title-block {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column: span 12;
	background-color: var(--color); /* Black Pearl */
	padding: 0;
	gap: var(--line-weight);
}

.title, .project-name, .size, .version, .drawn, 
.page, .truths-title {
	padding: 1vh;
}

.logo, .project-name, .title {
	grid-column: span 12; 
}

.logo {
	display: flex;
	justify-content: center;
	padding: 4vh;
/*	consider adding max-width as it scales*/
}

.size, .page {
	grid-column: span 4;
}

.version, .drawn {
	grid-column: span 8;
}

.gray-box {
	grid-column: span 12;
	grid-row: span 1;
	background-color: ghostwhite; /* maybe Alabaster? */
	padding: 30px;
}

.truths-title {
	grid-column: span 12;
	justify-content: center;
	padding: 1vh;
}

.truths-nerd, .truths-cats, .truths-digifab, 
.truths-svg, .truths-web {
	padding: 0.75vh;
}

.truths-nerd {
	grid-column: span 5;
}

.truths-cats {
	grid-column: span 7;
}

.truths-digifab {
	grid-column: span 6;
}

.truths-svg {
	grid-column: span 6;
}

.truths-web {
	grid-column: span 12;
}

.substack, .email, .github {
	grid-column: span 4;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2vw 0;
}

/* HEADINGS & TEXT */
h1 {
	font-family: lato, sans-serif;
	font-size: 2.25rem;
	font-weight: 300;
	color: var(--color)
}

h2 {
	font-family: lato, sans-serif;
	font-size: 1rem;
	font-weight: 700;
	color: var(--color)
}

.truths-title h2 {
	text-align: center;
	text-transform: uppercase;
}

.truths-nerd h2 {
	text-transform: none;
}

.page p {
	font-size: 1.5rem;
	text-align: center;
	margin-top: 1vh;
}

.welcome p {
	font-family: lato, sans-serif;
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: 0.03em;
}

h1 + p {
	margin-top: 1rem;
}

p + p {
	margin-top: 1rem;
}

/* SVGs */
.title-logo {
	width: 70%; 
	fill: var(--color);
}

.arrows {
	display: flex;
	width: 4%;
	fill: none; 
	stroke: var(--color);
	stroke-linecap: round;
 	stroke-linejoin: round; 
 	stroke-width: 1.25;
 	justify-content: center;
}

/* PICTURES */

.hand-project {
	max-width: 50vw;
	margin-left: 5vw;
	z-index: 1;
}

.hand-title {
	max-width: 65vw;
	margin-left: 2vw;
}

.hand-size-small {
	max-width: 12vw;
	margin: 1vh 0 0 6vw;
	justify-content: center;
}

.hand-size-medium, .hand-size-large {
	display: none;
}

.hand-version {
	max-width: 22vw;
	margin: 2vh 0 0 15vw;
}

.hand-initials {
	max-width: 40vw;
	margin-left: 3vw;
}

/* BREAKPOINTS */
@media (min-width: 650px) {

	print-drawing {
/*		border: var(--line-weight) solid var(--color);*/
	}

	.views {
		grid-column: 1 / 3;
	}

	.content {
		grid-column: 1 / 3;
	}

	.title-block {
		grid-column: 1 / 3;
		gap: var(--line-weight);
		border-top: var(--line-weight) solid var(--color);
	}

	.title, .project-name, .size, .version, .drawn, 
	.page, .truths-title {
		padding: 0.25vh;
	}

	.logo {
		grid-column: 1 / span 4;
		grid-row: span 3;
	}

	.project-name, .title {
		grid-column: span 8; 
	}

	.logo {
		display: flex;
		justify-content: center;
		padding: 1vh;
	/*	consider adding max-width as it scales*/
	}

	.size {
		grid-column: 5 / span 1;
	}

	.page {
		grid-column: span 1;
	}

	.version {
		grid-column: span 2;
	}

	.drawn {
		grid-column: span 4;
	}

	.gray-box {
		display: none;
	}
	
	.truths-title {
		grid-column: 1 / span 12;
		justify-content: center;
		background-color: ghostwhite;
		padding: 1vh;
	}

	.truths-nerd, .truths-cats, .truths-digifab, 
	.truths-svg, .truths-web {
		padding: 0.75vh;
	}

	.truths-nerd {
		grid-column: 1 / span 2;
	}

	.truths-cats {
		grid-column: span 2;
	}

	.truths-digifab {
		grid-column: span 2;
	}

	.truths-svg {
		grid-column: span 2;
	}

	.truths-web {
		grid-column: span 4;
	}

	.substack, .email, .github {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1.5vh;
	}

	.substack {
		grid-column: 1 / span 5;
	}

	.email {
		grid-column: span 4;
	}

	.github {
	grid-column: span 3;
	}

/*	PICTURES*/
	.hand-project {
		max-width: 18vh;
		margin-left: 5vw;
	}

	.hand-title {
		max-width: 22vh;
		margin-left: 4vw;
	}

	.hand-size-medium {
		display: block;
		max-width: 3vh;
		margin: 1.5vh 0 0 0.5vw;
	}

	.hand-size-small, .hand-size-large {
		display: none;
	}

	.hand-version {
		max-width: 6vh;
		margin: 2vh 0 0 1vw;
	}

	.hand-initials {
		max-width: 15vh;
		margin-left: 3vw;
	}

	/*	 LINKS */
	nav a, .substack a, .email a, .github a, .menu a {
		font-family: lato;
		font-size: 1.5rem;
		text-transform: capitalize;
		text-align: center;
		text-decoration: underline var(--underline) solid var(--color);
		text-underline-offset: 6px;
		color: var(--color);
		background-color: var(--white);
		padding: 5px;
		border-radius: 0;
/*		transition: 0.3s;*/
	}

	nav a:hover,
	.substack a:hover, 
	.email a:hover, 
	.github a:hover, 
	.menu a:hover {
		text-decoration: underline var(--underline) solid var(--color);
		text-decoration-thickness: 2px;
/*		transition: 0.3s;*/
	}

	nav a:active, 
	a:active {
			background-color: var(--white);
			text-decoration: underline 2px dashed var(--color);
		}
}

@media (min-width: 1100px) {

	body {
		border: none;
	}

	main {
		/*display: flex;
		flex-direction: column;*/
		
	}

	nav {
		border-top: var(--line-weight) solid var(--color);
		border-left: var(--line-weight) solid var(--color);
		border-right: var(--line-weight) solid var(--color);
		border-bottom: none;
		justify-content: flex-start;
		padding: 4px 10px 10px;
	}

	print-drawing {
		display: grid;
		height: 91vh;
		grid-template-columns: 50% 50%;
		grid-template-rows: 50px 1fr 1fr;
		border: var(--line-weight) solid var(--color);
	}

	.views {
		grid-column: 2 / 3; 
		grid-row: 2 / span 1;
	}

	.menu {
		grid-column: 1 / 2;
		grid-row: 1 / span 1;
	}

	.content {
		grid-column: 1 / 2;
		grid-row: 2 / span 2;
	}

	/*	GRID LAYOUT*/

	.hello {
		display: block;
	}

	.title-block {
	grid-column: 2 / span 1; /* columns covered in views grid */
	grid-row: 3;
	justify-self: end;
	align-self: end;
	padding: 0;
	gap: var(--line-weight);
	border-top: var(--line-weight) solid var(--color);
	border-left: var(--line-weight) solid var(--color);
	}

	.title, .project-name, .size, .version, .drawn, 
	.page, .truths-title {
		padding: 0px;
	}

	.logo {
		grid-column: 1 / span 4;
		grid-row: span 3;
	}

	.project-name, .title {
		grid-column: span 8; 
	}

	.logo {
		display: flex;
		justify-content: center;
		padding: 1vh;
	/*	consider adding max-width as it scales*/
	}

	.size {
		grid-column: 5 / span 1;
	}

	.page {
		grid-column: span 1;
	}

	.version {
		grid-column: span 2;
	}

	.drawn {
		grid-column: span 4;
	}

	.gray-box {
		display: none;
	}
	
	.truths-title {
		grid-column: 1 / span 12;
		justify-content: center;
		background-color: ghostwhite;
		padding: 0.5vh;
	}

	.truths-nerd, .truths-cats, .truths-digifab, 
	.truths-svg, .truths-web {
		padding: 0.5vh;
	}

	.truths-nerd {
		grid-column: 1 / span 2;
	}

	.truths-cats {
		grid-column: span 2;
	}

	.truths-digifab {
		grid-column: span 2;
	}

	.truths-svg {
		grid-column: span 2;
	}

	.truths-web {
		grid-column: span 4;
	}

	.substack, .email, .github {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 5px 0 10px;
	}

	.substack {
		grid-column: 1 / span 5;
	}

	.email {
		grid-column: span 4;
	}

	.github {
	grid-column: span 3;
}

	/*	 LINKS */

	nav a, 
	.substack a,
	.email a,
	.github a {
		font-size: 1.2rem;
	}

	/* SVGs */
	.title-logo {
		max-width: 125px; 
		fill: var(--color);
	}

	/* PICTURES */

	.hello {
		padding: 2vh;
/*		max-width: 50vw;*/
/*		padding: 2vh;*/
	}
	.hand-project {
		max-width: 140px;
		padding-bottom: 5px;
		margin-left: 75px;
	}

	.hand-title {
		max-width: 165px;
		margin-left: 55px;
		padding-bottom: 3px;
	}

	.hand-size-large {
		display: block;
		max-width: 40px;
		padding: 10px 0 0 10px;
	}

	.hand-size-small, .hand-size-medium {
		display: none;
	}

	.hand-version {
		max-width: 50px;
		margin: 10px 0 0 15px;
	}

	.hand-initials {
		max-width: 140px;
		margin-left: 50px;
	}
}












