
/* SITE-WIDE STRUCTURE */

@import "meyer-reset.css";
@import "setup.css";

main {
	padding: 2vh;
}

body {
	background-color: white; 
}

.inner-column {
	display: block;
	position: relative;
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
}

.logo, .title, .project-name, .size, .version, .drawn, 
.page, .truths-title, .truths-nerd, .truths-cats, 
.truths-digifab, .truths-svg, .truths-web, .substack,
.email, .whitespace, .github, .goals {
	background-color: white;
}

/*  GRID LAYOUT */

/* AVOID ROWS UNTIL YOU HAVE TO USE THEM. ALLOW ELEMENTS 
TO DICTATE HOW THESE ROWS ORGANIZE THEMSELVES. */

print-drawing {
	display: block;
	background-color: white;
	border: 0.75vh solid #041424;
	padding: 0;
	gap: 0;
}

.views {
/*	display: grid;*/
/*	grid-column: span 12;*/
	background-color: white;
}

.hello {
	display: none; /* add small hello-world.png version and return to display: grid */
}

/*GOALS*/

.goals-list {
	padding: 0 0 2vh 5vw;
}

.goals-small {
	padding: 3vw;
/*	set size*/
}

.goals-large {
	display: none;  /*hidden or none; swap on larger screen sizes*/
}

.goals-list h1 {
	font-size: 1.75rem;
	margin-top: 1em;
}

.goals-list ul {
	list-style: square inside;
}

.goals-list li {
	font-family: georgia, serif;
	line-height: 1.5;
	font-size: 1.25rem;
	color: #041424;
}

.goals-list h1 + ul {
	margin-top: 1em;
}

/*TITLE BLOCK*/
.title-block {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column: span 12;
	background-color: #041424; /* Black Pearl */
	border-top: 0.75vh solid #041424;
	padding: 0;
	gap: 0.75vh;
}

.title, .project-name, .size, .version, .drawn, 
.page, .truths-title {
	padding: 1vh;
}

.logo, .project-name, .title {
	grid-column: span 12; 
}

.logo {
	display: flex;
	justify-content: center;
	padding: 4vh;
/*	consider adding max-width as it scales*/
}

.size, .page {
	grid-column: span 4;
}

.version, .drawn {
	grid-column: span 8;
}

.gray-box {
	grid-column: span 12;
	grid-row: span 1;
	background-color: ghostwhite; /* maybe Alabaster? */
	padding: 30px;
}

.truths-title {
	grid-column: span 12;
	justify-content: center;
	padding: 1vh;
}

.truths-nerd, .truths-cats, .truths-digifab, 
.truths-svg, .truths-web {
	padding: 0.75vh;
}

.truths-nerd {
	grid-column: span 5;
}

.truths-cats {
	grid-column: span 7;
}

.truths-digifab {
	grid-column: span 6;
}

.truths-svg {
	grid-column: span 6;
}

.truths-web {
	grid-column: span 12;
}

.substack, .email, .github, .goals{
	grid-column: span 12;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5vw 0;
}

/* HEADINGS & TEXT */
h1 {
	font-family: lato, sans-serif;
	font-size: 1rem;
	font-weight: 700;
	color: #041424;
}

h2 {
	font-family: georgia, serif;
	font-size: 2rem;
	color: #041424;
}

.truths-title h1 {
	text-align: center;
	text-transform: uppercase;
}

.truths-nerd h1 {
	text-transform: none;
}

/* LINKS */
.substack a, .email a, .github a, .goals a {
	font-family: lato;
	font-size: 2.25rem;
	text-transform: capitalize;
	text-decoration: none;
	color: white;
	background-color: #041424;
	padding: 5vw;
	border-radius: 10px;
}

/* SVGs */
.title-logo {
	width: 70%; 
	fill: #041424;
}

.arrows {
	display: flex;
	width: 4%;
	fill: none; 
	stroke: #041424;
	stroke-linecap: round;
 	stroke-linejoin: round; 
 	stroke-width: 1.25;
 	justify-content: center;
}

/* PICTURES */
.hand-project {
	max-width: 50vw;
	margin-left: 5vw;
	z-index: 1;
}

.hand-title {
	max-width: 65vw;
	margin-left: 2vw;
}

.hand-size-small {
	max-width: 12vw;
	margin: 1vh 0 0 6vw;
	justify-content: center;
}

.hand-size-medium, .hand-size-large {
	display: none;
}

.hand-version {
	max-width: 22vw;
	margin: 2vh 0 0 15vw;
}

.hand-initials {
	max-width: 40vw;
	margin-left: 3vw;
}

/* BREAKPOINTS */
/*@media (min-width: 768px) {
	body {
		background-color: blue;
	}
}*/

/*KEEP TITLE BLOCK GAP AND PADDING, BUT ADD BORDERS*/


@media (min-width: 1200px) {
	print-drawing {
		display: grid;
		grid-template-columns: 40% 60%;
		border: 0.25vh solid #041424;
	}

	.views {
		grid-column: 2 / 3; 
	}

	.content {
		grid-column: 1 / 2;
		grid-row: 1 / 3;
		background-color: red;
	}

	/*	GRID LAYOUT*/

	.hello {
		display: block;
/*		display: grid;*/
/*		grid-column-end: 12;*/
	}

	.title-block {
	grid-column: 2 / 3; /* columns covered in views grid */
	padding: 0;
	gap: 0.25vh;
	border-top: 0.25vh solid #041424;
	border-left: 0.25vh solid #041424;
	}

	.title, .project-name, .size, .version, .drawn, 
	.page, .truths-title {
		padding: 0.25vh;
	}

	.logo {
		grid-column: 1 / span 4;
		grid-row: span 3;
	}

	.project-name, .title {
		grid-column: span 8; 
	}

	.logo {
		display: flex;
		justify-content: center;
		padding: 1vh;
	/*	consider adding max-width as it scales*/
	}

	.size {
		grid-column: 5 / span 1;
	}

	.page {
		grid-column: span 1;
	}

	.version {
		grid-column: span 2;
	}

	.drawn {
		grid-column: span 4;
	}

	.gray-box {
		display: none;
	}
	
	.truths-title {
		grid-column: 1 / span 12;
		justify-content: center;
		background-color: ghostwhite;
		padding: 1vh;
	}

	.truths-nerd, .truths-cats, .truths-digifab, 
	.truths-svg, .truths-web {
		padding: 0.75vh;
	}

	.truths-nerd {
		grid-column: 1 / span 2;
	}

	.truths-cats {
		grid-column: span 2;
	}

	.truths-digifab {
		grid-column: span 2;
	}

	.truths-svg {
		grid-column: span 2;
	}

	.truths-web {
		grid-column: span 4;
	}

	.substack, .email, .github {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1.5vh;
	}

	.substack {
		grid-column: 1 / span 5;
	}

	.email {
		grid-column: span 4;
	}

	.github {
	grid-column: span 3;
}

	/*	 LINKS */
	.substack a, .email a, .github a, .goals a {
		font-family: lato;
		font-size: 1.5rem;
		text-transform: capitalize;
		text-decoration: underline;
		color: #041424;
		background-color: white;
		padding: 1.4vh;
		border-radius: 0;
	}

	a:hover {
		font-size: 1.6rem;
		background-color: #041424;
		color: white;
		text-decoration: none;
		padding: 1vh;
		border-radius: 1vh;
	}

	a:active {
		background-color: #f05a28;
	}

	/* SVGs */
	.title-logo {
		width: 40%; 
		fill: #041424;
	}

	/* PICTURES */

	.hello {
/*		max-width: 50vw;*/
/*		padding: 2vh;*/
	}
	.hand-project {
		max-width: 18vh;
		margin-left: 5vw;
	}

	.hand-title {
		max-width: 24vh;
		margin-left: 4vw;
	}

	.hand-size-large {
		display: block;
		max-width: 4vh;
		margin: 2vh 0 0 0.5vw;
	}

	.hand-size-small, .hand-size-medium {
		display: none;
	}

	.hand-version {
		max-width: 6vh;
		margin: 2vh 0 0 1vw;
	}

	.hand-initials {
		max-width: 17vh;
		margin-left: 3vw;
	}
}












