/* Should we pull in @fonts here? */
/* don't think you can... might have to be higher up (the top of) the food chain! */

.loud-voice	{
	font-family: lato, sans-serif;
	font-size: clamp(36px, 5vw, 60px);
}
@media (min-width: 600px) {
	.loud-voice {
		font-weight: 700; /* or variable font */
	}
}

.attention-voice	{
	font-family: lato, sans-serif;
	font-size: 1.5rem;
}

.calm-voice, p, li {
	font-family: lato, sans-serif;
	font-size: 1rem;
	line-height: 1.4;
}

:is(.calm-voice, p) em {
	font-style: italic;
}

:is(.calm-voice, p) strong {
	font-weight: 700;
}

h1 {
	font-family: lato, sans-serif;
	font-size: 2.25rem;
	font-weight: 300;
	color: var(--color)
}

h2 {
	font-family: lato, sans-serif;
	font-size: 1rem;
	font-weight: 300;
	color: var(--color)
}

h3 {
	font-family: lato, sans-serif;
	font-size: 1rem;
	font-weight: 400;
	color: var(--color)
}

h4 {
	font-family: lato, sans-serif;
	font-size: 1rem;
	font-weight: 700;
	color: var(--color)
}

/* these would be scoped to section or to an article element */
/* this is just a loose setting for now */
/* or smaller group of article-like styles such as a <text-content> custom element */

h1 + p {
	margin-top: 1rem;
}

h2 + p {
	margin-top: 20px;
}

h2 + h3 {
	margin-top: 8px;
}

p + p {
	margin-top: 1rem;
}

li + li {
	margin-top: 0.4em;
}

code {
	font-family: monospace;
	font-size: 1.1em;
	color: green;
}



















