@import "forms.css";

/* buttons and icons and smaller reusable bits here */

.button {
	display: block;
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-size: 1rem;
	line-height: 1.4;
	padding: 0.5em 1em;
	background-color: var(--color);
	color: var(--white);
	min-width: 120px;
	text-align: center;
}

.nav-button {
	border: 1px solid var(--color);
	background-color: var(--paper);
	color: var(--color);
}

.nav-button:hover {
	background-color: var(--color);
	color: var(--paper);
}

.nav-button:focus {
	background-color: var(--paper);
	color: var(--color);
}