
html {
	--black: #121214; /* Bunker */
	--white: #ffffff; /* White */

	--gray: #f4f4f4; /* Wild Sand */

	--color: #d83b95; /* Cerise */
	--highlight: #aadee9; /* used for CTA-2 background */
	--light-bg: rgba(216,59,149,0.1);

	--shadow: rgba(0,0,0,0.2);

	--corners: 10px; /* or whatevers */
	
	--section-padding-top: 5vh;

	--paper: var(--white);
	--ink: var(--black);

	--standard: 1140px;
	--tight: 800px;
}

/*
Dark mode disabled
@media (prefers-color-scheme: dark) {
	html {
		--paper: #121214; 
		--ink: #ffffff; 
	}
	*/
}
