
/* goals-module */

goals-module {
	display: block;
	padding-top: var(--margin-top);
}

goal-detail {
	display: block;
}

goal-detail + goal-detail {
	margin-top: 2rem;
}

.goals-list ul {
	list-style: square inside;
}

