
/* article-module */

article-module {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: var(--padding);
/*	margin-top: 16px;*/
/*	border: 1px solid red;*/
}

.article-list {
	display: block;
	margin-top: 40px;
}

.article-list li {
	background-color: var(--paper);
/*	border: 1px solid purple;		*/
}

li + li {
	margin-top: 16px;
}

.article-list svg {
	max-width: 40px;
}

.article-list circle {
	fill: var(--color);
}

svg + h3 {
	margin-top: 8px;
}

h3::after {
	content: " small";
}

/*@media (min-width: 850px) {
	h3::after {
		content: " large";
	}	
}*/

/* Breakpoints */

@media(min-width: 550px) {
	article-module {
		transform: translateY(-120px);
	}

	.article-list li {
		background-color: white;
		padding: 24px var(--padding);
	}
}

@media(min-width: 850px) {
	.article-list {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: var(--gap);
	}

	.article-list li {
		grid-column: span 6;
	}

	.article-list li:nth-of-type(even) {
		grid-column: span 6;
	}

	li + li {
		margin-top: 0;
	}
}

@media(min-width: 1100px) {

	.article-list li:nth-of-type(odd) {
		grid-column: span 4;
	}

	.article-list li:nth-of-type(even) {
		grid-column: span 4;
	}
}






















