
call-to-action {
	display: block;
/*	border: 4px solid orange;*/
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 10vh 0;
}

call-to-action .button {
	background-color: var(--color);
	color: var(--white);
	margin-top: 20px;
}
