
/* SITE-WIDE STRUCTURE */

@import "meyer-reset.css";
@import "setup.css";

header {
	display: flex;
	flex-direction: row;
	padding: 2vw;
	background-color: #39b0c7; /* Pelorous */
	box-shadow: 1px 1px 4px;
}

body {
	background-color: #f2f2f2; /* Concrete */
}

main {
	padding: 2vh;
}

.inner-column {
	display: block;
	position: relative;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

monster-card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

/* HEADINGS & TEXT */
h1 {
	font-family: helvetica, sans-serif;
	font-size: 4rem;
	font-weight: 300;
	color: #513374; /* Blue Diamond */
	text-transform: lowercase;
	padding: 2vw;
}

h2 {
	font-family: georgia, serif;
	font-size: 2rem;
	margin-top: 2vh;
}

p {
	font-family: helvetica, sans-serif;
	font-size: 1.25rem;
	letter-spacing: 0.03rem;
	line-height: 1.5;
	margin-top: 2vh;
}

p + p {
	margin-top: 0.75vh;
}

ol {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	gap: 2vh;
}

/*CARDS*/
.monster {
	margin-top: 3vw;
}

monster-card {
	background-color: white;
	margin-top: 1vh;
	padding: 10px;
	box-shadow: 1px 1px 4px;
	border-radius: 10px;
	border: 4px solid #513374; /* Blue Diamond */
}

/* PICTURES */
picture {
	max-width: 600px;
}

/*BREAKPOINTS*/
@media(min-width: 700px) {
	monster-card {
		flex-direction: row;
		gap: 2vw;
	}

	picture {
		max-width: 800px;
	}
}








