/* Preset */
@import 'preset.css';

/* Setup */
@import 'setup.css';

/* Settings */
@import 'settings.css';
@import 'developer-styles.css';

/* Structure */
@import 'structure.css';

/* Typography */
@import 'typography.css';

/* Components */
@import 'components.css';

/* Stuff (modules) */
@import 'modules.css';

/* Sections and more stuff */

/* then other contextual styles */
body {
	background-color: var(--paper);
	color: var(--ink);
}

.my-fantastic-image {
	max-width: 300px;
	border-bottom-right-radius: 30px;
}
