html {

/*	Set for top corners*/
	--picture-radius: 20px;
	--card-padding: 0px;
	--card-corners: calc( var(--card-padding) + var(--picture-radius) );
}

.article-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--white);
	padding: var(--card-padding);
	border-radius: var(--card-corners);
/*	border: 1px solid red;*/
	box-shadow: 0 2px 5px 1px var(--shadow);
}

.article-card text-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 10px var(--card-corners);
	margin-top: 10px;
}

.article-card picture {
	border-radius: var(--picture-radius) var(--picture-radius) 0 0;
/*	border: 1px solid red;*/
}

.article-card h1 + p {
	margin-top: 10px;
}

.article-card p {
	text-align: center;
}

.article-card a {
	margin: 25px 0;
}



