
/* Site-wide structure */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
} /* https://www.paulirish.com/2012/box-sizing-border-box-ftw */


* {
	box-sizing: border-box;
}

/* Links */

a {
	display: block;
	list-style: none;
	color: inherit;
}

p a {
	display: inline;
	color: blue;
	text-decoration: underline;
}

/* Images */

picture {
	display: block;
	overflow: hidden;
}

picture img {
	display: block;
	width: 100%;
	height: auto;
}

svg {
  display: block;
  width: 100%;
}

// selects for custom elements
:where(:not(:defined)) {
	display: block;
}


