
/* Preset */
/*@import "preset.css"'";*/

/* Reset */
@import "meyer-reset.css";

/* Setup */
@import "setup.css";

/* Settings */
/*@import "settings.css";*/
/*@import "developer-styles.css";*/

/* Structure */
@import "structure.css";

/* Typography */
@import "typography.css";

/* Images */
@import "images.css";

/* Components */
/*@import "components.css";*/

/* Stuff (modules) */
@import "modules.css";

/* Sections and more stuff */

/* then other contextual styles */
body {
	background-color: ghostwhite;
}

/*.my-fantastic-image {
	max-width: 300px;
	border-bottom-right-radius: 30px;
}*/
