
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh; /* be at least a full viewport height */
} 

main {
	flex-grow: 1; /* fill up available space + push the footer down */
}

inner-column {
	display: block;
	max-width: 960px; /* could be a variable in settings */
	margin-right: auto;
	margin-left: auto;
	padding: 10px; /* a loose default */
/*	border: 1px solid green;*/
}

header, footer {
	background-color: #0e4c90;
}

.site-header, .site-footer {
	padding: 10px;
}

nav {
	display: flex;
	flex-direction: row;
	gap: 15px;
}

intro {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	padding: 10px;
	border: 3px solid #0e4c90;
	border-radius: 5px;
}

intro-text {
	align-items: right;
	margin-top: 1em;
}

machine-teaser {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	padding: 10px;
	border: 3px solid #0e4c90;
	border-radius: 5px;
	margin-top: 15px;
}

machine-card {
		display: flex;
		flex-direction: column;
		background-color: white;
		margin-top: 1em;
		gap: 10px;
		padding: 10px;
		border: 3px solid #0e4c90;
		border-radius: 5px;
}

card-text {
	display: flex;
	flex-direction: column;

}

machine-list {
	display: flex;
	flex-direction: column;
}


/* BREAKPOINTS */

@media (min-width: 600px) {

	.intro-home {
		flex-direction: row;
		align-items: flex-start;
	}

	machine-teaser {
		flex-direction: row-reverse;
		align-items: flex-start;
	}
}















