
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh; /* be at least a full viewport height */
} 

main {
	flex-grow: 1; /* fill up available space + push the footer down */
}

inner-column {
	display: block;
	max-width: 960px; /* could be a variable in settings */
	margin-right: auto;
	margin-left: auto;
	padding: 10px; /* a loose default */
/*	border: 12px solid green;*/
}

header, footer {
	background-color: #0e4c90;
}

footer {
	padding-bottom: 40px;
}

.site-header, .site-footer {
	padding: 10px;
}

nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 15px;
}

intro {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	padding: 10px;
	border: 3px solid #0e4c90;
	border-radius: 5px;
}

intro-text {
	align-items: right;
	margin-top: 1em;
}

machine-teaser {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	padding: 10px;
	border: 3px solid #0e4c90;
	border-radius: 5px;
	margin-top: 15px;
}

machine-card {
		display: flex;
		flex-direction: column;
		background-color: white;
		margin-top: 1em;
		gap: 10px;
		padding: 10px;
		border: 3px solid #0e4c90;
		border-radius: 5px;
}

card-text {
	display: flex;
	flex-direction: column;

}

machine-list {
	display: flex;
	flex-direction: column;
}

/* FORMS */

 @media (max-width: 499px) {

 	.form-section {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
/*		gap: 10px;*/
/*		border: 1px solid blue;*/
 	}

	form-page h1 {
		padding: 0 0 0 10px;
	}

	form {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		gap: 15px;
		font-family: helvetica, sans-serif;
		font-size: 1rem;
		background-color: white;
		padding: 30px 12px;
		border-radius: 5px;
		border: 3px solid #e3e8f4;
		margin: 10px 0 25px;
	}

	field {
/*		border: 1px solid red;*/
	}

	/* :is means, "if it is a label or input inside a field" */
	field :is(label, input) {
		display: block; 
	}

	field + field {
		margin-top: 15px;
	}

	label + input {
		margin-top: 3px;
	}

	input, textarea {
		padding: 5px;
	}

	input, textarea, fieldset {
		border: 2px solid #686868;
		border-radius: 5px;
	}

	fieldset {
		display: block;
		background-color: white;
		padding: 2px 12px 10px 5px;
	}

	legend {
		padding: 5px;
		margin-left: 5px;
	}

	button {
		margin-top: 10px;
	}
}

/* BREAKPOINTS */

@media (min-width: 500px) {

	.intro-home {
		flex-direction: row;
		align-items: flex-start;
	}

	machine-teaser {
		flex-direction: row-reverse;
		align-items: flex-start;
	}
}


/* FORMS */

	/*field + field {
		margin-top: 0;
	}*/














