
/* SITE-WIDE STRUCTURE */

@import "meyer-reset.css";
@import "setup.css";

body {
	background-color: white; 
}

main {
	padding: 2vh;
}

.inner-column {
	display: block;
	position: relative;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

/*  GRID LAYOUT */

.title-block {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(13, 1fr);
	background-color: #041424; /* Black Pearl */
	padding: 1vw; /* allows grid edges to be colored by bg */
	gap: 1vw;
}

.title, .project-name, .size, .version, .drawn, .page, .truths-title {
	background-color: white;
	padding: 1vw;
}

/* 
grid-area: row start / column start / row end / column end; 
*/

.logo {
	grid-area: 1 / 1 / span 4 / span 7;
	display: flex;
	justify-content: center;
	background-color: white;
}

.project-name {
	grid-area: 5 / 1 / span 1 / span 7;
}

.title {
	grid-area: 6 / 1 / span 1 / span 7;
}

.size {
	grid-area: 7 / 1 / span 1 / span 2;
}

.version {
	grid-area: 7 / 3 / span 1 / span 5;
}

.drawn {
	grid-area: 8 / 1 / span 1 / span 4;
}

.page {
	grid-area: 8 / 5 / span 1 / span 3;
}

.gray-box {
	grid-area: 9 / 1 / span 1 / span 7;
	background-color: ghostwhite; /* maybe Alabaster? */
}

.truths-title {
	grid-area: 10 / 1 / span 1 / span 7;
	justify-content: center;
}

.substack {
	grid-area: 11 / 1 / span 3 / span 7;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
}

/* HEADINGS & TEXT */
h1 {
	font-family: lato, sans-serif;
	font-size: 1rem;
	font-weight: 700;
	color: #041424;
	text-transform: uppercase;
}

h2 {
	font-family: georgia, serif;
	font-size: 2rem;
}

/*
h1 + h2 {
	margin-top: 0.5vh;
}
*/ 

.truths-title h1 {
	text-align: center;
}

/* LINKS */
.substack a {
	font-family: lato;
	font-size: 2.25rem;
	text-transform: capitalize;
	text-decoration: none;
	color: white;
	background-color: #041424;
	padding: 5vw;
	border-radius: 10px;
}

/* SVGs */
.title-logo {
	width: 70%; 
}

/* PICTURES */
.hand-project {
	max-width: 50vw;
	margin-left: 5vw;
	z-index: 1;
}

.hand-title {
	max-width: 65vw;
	margin-left: 2vw;
}

.hand-size {
	max-width: 12vw;
	margin: 1vh 0 0 6vw;
	justify-content: center;
}

.hand-version {
	max-width: 22vw;
	margin: 2vh 0 0 15vw;
}

.hand-initials {
	max-width: 40vw;
	margin-left: 3vw;
}













